<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ConexionBD" connectionString="Data Source=ACER_Mario;Initial Catalog=Restaurante; 
			User Id=sa; Password=luismario3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>